@inherits LayoutComponentBase
@using TimeCheck.Pwa.Services
@inject ISettingsService SettingsService
@inject ITimeCheckService TimeCheckService
@inject IEncouragementService EncouragementService
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <BottomNav />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SettingsService.LoadAsync();
        await TimeCheckService.StartAsync();
        await EncouragementService.StartAsync();
    }
}
