@page "/"
@using TimeCheck.Pwa.Services
@inject ISettingsService SettingsService
@inject ITimeCheckService TimeCheckService
@inject IEncouragementService EncouragementService
@inject IJokeService JokeService
@inject Microsoft.JSInterop.IJSRuntime JS

<PageTitle>Time Check</PageTitle>

<div class="container-fluid mt-3 home">
	<div class="home-inner mx-auto">
		<h3 class="text-center">Time Check</h3>

		<div class="row">
			<div class="col-12 col-md-4">
				<div class="card mb-3">
					<div class="card-body">
						<div class="mb-2 form-check">
							<input class="form-check-input touch-toggle" type="checkbox" id="homeTimeCheckToggle" @bind="TimeCheckEnabled" />
							<label class="form-check-label" for="homeTimeCheckToggle">Enable Time Check</label>
						</div>
						<div class="mb-2 form-check">
							<input class="form-check-input touch-toggle" type="checkbox" id="homeJokesToggle" @bind="JokesEnabled" />
							<label class="form-check-label" for="homeJokesToggle">Enable Jokes</label>
						</div>
						<div class="mb-2 form-check">
							<input class="form-check-input touch-toggle" type="checkbox" id="homeEncourageToggle" @bind="EncouragementEnabled" />
							<label class="form-check-label" for="homeEncourageToggle">Enable Encouragement</label>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-8 text-center">
				<div class="mb-3">
					<h1 class="time-display">@_currentTime</h1>
				</div>

				<div class="actions">
					<button class="btn btn-primary btn-lg btn-touch" @onclick="AnnounceTime" disabled="@(!SettingsService.TimeCheckEnabled || SettingsService.IsQuiet)">Announce Time Now</button>
					<button class="btn btn-secondary btn-lg btn-touch" @onclick="SpeakEncouragement" disabled="@(!SettingsService.EncouragementEnabled || SettingsService.IsQuiet)">Say Encouragement Now</button>
					<button class="btn btn-info btn-lg btn-touch" @onclick="TellJoke" disabled="@(!SettingsService.JokesEnabled || SettingsService.IsQuiet)">Tell Joke Now</button>
					<button class="btn btn-warning btn-lg btn-touch" @onclick="UpdateApp">Update App</button>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	private string _currentTime = DateTime.Now.ToString("h:mm tt");
	private System.Timers.Timer? _clockTimer;

	protected override Task OnInitializedAsync()
	{
		_clockTimer = new System.Timers.Timer(1000);
		_clockTimer.Elapsed += (s, e) =>
		{
			_currentTime = DateTime.Now.ToString("h:mm tt");
			InvokeAsync(StateHasChanged);
		};
		_clockTimer.Start();

		return Task.CompletedTask;
	}

	private async Task AnnounceTime()
	{
		await TimeCheckService.SayTimeNowAsync();
	}

	private async Task SpeakEncouragement()
	{
		await EncouragementService.SayEncouragementNowAsync();
	}

	private async Task TellJoke()
	{
		await JokeService.SayJokeNowAsync();
	}

	private async Task UpdateApp()
	{
		try
		{
			await JS.InvokeVoidAsync("timecheck.updatePwa");
		}
		catch (Exception ex)
		{
			Console.Error.WriteLine($"Update PWA failed: {ex}");
		}
	}

	private bool TimeCheckEnabled
	{
		get => SettingsService.TimeCheckEnabled;
		set
		{
			if (SettingsService.TimeCheckEnabled != value)
			{
				SettingsService.TimeCheckEnabled = value;
				_ = SettingsService.SaveAsync();
			}
		}


	}

	private bool JokesEnabled
	{
		get => SettingsService.JokesEnabled;
		set
		{
			if (SettingsService.JokesEnabled != value)
			{
				SettingsService.JokesEnabled = value;
				_ = SettingsService.SaveAsync();
			}
		}
	}

	private bool EncouragementEnabled
	{
		get => SettingsService.EncouragementEnabled;
		set
		{
			if (SettingsService.EncouragementEnabled != value)
			{
				SettingsService.EncouragementEnabled = value;
				_ = SettingsService.SaveAsync();
			}
		}
	}

	public ValueTask DisposeAsync()
	{
		if (_clockTimer != null)
		{
			_clockTimer.Stop();
			_clockTimer.Dispose();
		}
		return ValueTask.CompletedTask;
	}
}

